@import "tailwindcss";
@import "./typography.css";
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #f5f7fa;      
  --foreground: #2e3440;      
  --accent: #6366f1;          
  --muted: #dbeafe;           
  --border: #bfc9d1;     
  --headings: #0f172a;     
}
html[data-theme="dark"] {
  --background: #0f172a;      
  --headings: #e0e7ff;        
  --foreground: #f1f5f9;      
  --accent: #a1a2f2;          
  --muted: #334155;           
  --border: #475569;      
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-foreground selection:bg-accent/75 selection:text-background;
  }

  body {
    font-family: "Poiret One", sans-serif;
    font-weight: 300;
    font-size: 115%;
    font-style: normal;
  }

  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }
}

@utility max-w-app {
  @apply max-w-5xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}


h1, h2 {
  color: var(--headings);
}
h2 {
  opacity: 0.8;
}

h3 {
  opacity: 0.7;
}

