---
import BaseLayout from '../layouts/BaseLayout.astro';
import {getCategories} from '../scripts/getCategories'
const pageTitle = "Categories"
const allPosts = Object.values(import.meta.glob('../posts/*/*.md', { eager: true }));

const categories = getCategories();
---

<BaseLayout pageTitle={pageTitle}>
   
    <div class="tabs is-centered is-boxed">
         <ul>
            {categories.map((cat: string) => <li class="is-active"><a><span>{cat}</span></a></li>)}
        </ul>
    </div>
</BaseLayout>
