---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Latest Blog Posts"

---

<BaseLayout pageTitle={pageTitle}>
	<h2>awesome home page</h2>
</BaseLayout>
