---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";
import getSortedProjPosts from "@/utils/getSortedProjPosts";
import ProjCard from "@/components/ProjCard.astro";

const posts = await getCollection("blog");
const projects = await getCollection("projects");

const sortedPosts = getSortedPosts(posts);
const sortedProjects = getSortedProjPosts(projects)
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const featuredProjects = sortedProjects.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
const recentProjects = sortedProjects.filter(({ data }) => !data.featured);

---

<Layout>
  <Header />
  <main id="main-content" data-layout="index">
    <section id="hero" class="pt-8 pb-6">
      <h1 class="my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl">
        Home
      </h1>
      <h2 class="my-3 text-4xl font-bold">
        Welcome!
      </h2>
      <p>
        This is my online workspace where I share thoughts, projects, and short tutorials.
        <br>
        I built it to sharpen my communication skills and keep all my writing in one tidy place.
      </p>
      
      {
        // only display if at least one social link is enabled
        SOCIALS.length > 0 && (
          <div class="mt-4 flex flex-col sm:flex-row sm:items-center">
            <div class="me-2 mb-1 whitespace-nowrap sm:mb-0">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      // BEST PROJECTS
      featuredProjects.length > 0 && (
        <>
          <section id="featured" class="pt-12 pb-6">
            <h2 class="text-2xl font-semibold tracking-wide">Main Projects</h2>
            <ul>
              {featuredProjects.map(data => (
                <ProjCard variant="h3" {...data} />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      // BEST BLOG POSTS
      featuredPosts.length > 0 && (
        <>
          <section id="featured" class="pt-12 pb-6">
            <h2 class="text-2xl font-semibold tracking-wide">Featured Posts</h2>
            <ul>
              {featuredPosts.map(data => (
                <Card variant="h3" {...data} />
              ))}
            </ul>
          </section>
          {recentProjects.length > 0 && <Hr />}
        </>
      )
    }

    {
      // RECENT PROJECTS
      recentProjects.length > 0 && (
        <section id="recent-posts" class="pt-12 pb-6">
          <h2 class="text-2xl font-semibold tracking-wide">Recent Projects</h2>
          <ul>
            {recentProjects.map(
              (data, index) =>
                index < SITE.postPerIndex && <ProjCard variant="h3" {...data} />
            )}
          </ul>
        </section>
      )
    }
    <div class="my-8 text-center">
      <LinkButton href="/projects/">
        All Projects
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>



    {
      // RECENT BLOG POSTS
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pt-12 pb-6">
          <h2 class="text-2xl font-semibold tracking-wide">Recent Posts</h2>
          <ul>
            {recentPosts.map(
              (data, index) =>
                index < SITE.postPerIndex && <Card variant="h3" {...data} />
            )}
          </ul>
        </section>
      )
    }
    <div class="my-8 text-center">
      <LinkButton href="/posts/">
        All Posts
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>

  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
