---
interface Props {
    title: string,
}
const {title} = Astro.props
---
<h1 class="relative inline-block text-4xl font-bold glitch" data-text={title}>{title}</h1>

<style is:global>
.glitch {
  color:#f0f;
  position:relative;
}
.glitch::before,
.glitch::after{
  content:attr(data-text);
  position:absolute; top:0; left:0;
  width:100%; overflow:hidden;
  clip-path: inset(0 0 0 0);
  animation: glitch 2s infinite steps(100);
}
.glitch::before{ left:2px; text-shadow:-2px 0 cyan; }
.glitch::after { left:-2px; text-shadow:-2px 0 #ff00ff; }
@keyframes glitch {
  0%{ clip-path: inset(10% 0 85% 0); }
  20%{ clip-path: inset(70% 0 15% 0); }
  40%{ clip-path: inset(50% 0 35% 0); }
  60%{ clip-path: inset(80% 0 5% 0); }
  80%{ clip-path: inset(20% 0 60% 0); }
  100%{ clip-path: inset(90% 0 3% 0); }
}
</style>

