---
const {title} = Astro.props;
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---
<script>
    import "../scripts/menu"
</script>
<Hamburger />
<Navigation />
<h1>{title}</h1>
