---
import Hamburger from "./Hamburger.astro"
import SearchButton from "./SearchButton.astro"
---
<div class="nav-container">
    <div class="left">
        <h1>muni smith</h1>
        <p>some logs</p>
    </div>
    <!-- <div> -->
        <!-- <SearchButton/> -->
    <!-- </div> -->
    <div class="right">
        <Hamburger />
    </div>
</div>