---
import type { CollectionEntry } from "astro:content";

export interface Props extends CollectionEntry<"projects"> {
  variant?: "h2" | "h3";
}

const { variant = "h2", project } = Astro.props;

const { title, description, imageUrl, pubDate} = project;

---

<div class="max-w-sm border rounded-lg shadow-md overflow-hidden">
  <img class="rounded-t-lg w-full h-48 object-cover" src={imageUrl} alt="bulabulaNoImage">
    <div class="p-6">
      <h1 class="font-bold tracking-tight">{title}</h1>
      <p >{description}</p> 
      <p >{pubDate}</p> 
      <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-blue-600">
        Read more
      </a>
    </div>
</div>