---
import IconHash from "@/assets/icons/IconHash.svg";

export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li
  class:list={[
    "group inline-block group-hover:cursor-pointer",
    size === "sm" ? "my-1 underline-offset-4" : "mx-1 my-3 underline-offset-8",
  ]}
>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "label relative pe-2 no-underline group-hover:-top-0.5 group-hover:text-accent focus-visible:p-1 focus-visible:no-underline",
      { "text-xs": size === "sm" },
      { "text-sm": size === "lg" },
    ]}
  >
    <IconHash
      class:list={[
        "inline-block opacity-70",
        { "-me-3 size-3.5": size === "sm" },
        { "-me-4.5 size-5": size === "lg" },
      ]}
    />
    &nbsp; &nbsp;<span>{tagName}</span>
  </a>
</li>
