---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import ProjCard from "@/components/ProjCard.astro";
import getSortedProjPosts from "@/utils/getSortedProjPosts";
import { SITE } from "@/config";
import projects from '@/data/projects.json'

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("projects", ({ data }) => !data.draft);
  return paginate(getSortedProjPosts(posts), { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

---

<Layout title={`Projects | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Projects" pageDesc="Yes I worked on these!">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-8">
      {projects.map(project => <ProjCard {project} />)}
    </div>

  </Main>


  <Footer />
</Layout>
