---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Layout from "./Layout.astro";
import { SITE } from "@/config";
import Image from "astro/components/Image.astro";
import prof2 from '../assets/images/prof2.jpeg'
export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  <Breadcrumb />
  <main id="main-content">
    <section id="about" class="app-prose mb-28 max-w-app prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">{frontmatter.title}</h1>
      <Image  
        src={prof2}
        alt="Profile Photo" 
        width={198}
        height={198}
        class="w-48 h-48 rounded-full object-cover border-2 border-gray-300 shadow-lg"
      />
      <slot />
    </section>
  </main>
  <Footer />
</Layout>
